html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Montserrat";
  src: url(base/fonts/Montserrat/Montserrat-Medium.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(base/fonts/Roboto/Kanit-Thin.ttf);
}
section {
  max-width: 1440px;
  margin: 0 auto;
}

.dreamshare {
  background-image: url(./image/Promo.png);
  height: 700px;
  display: flex;
  flex-direction: column;
}
.dreamshare__header {
  width: 944px;
  height: 116px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 42px;
}
.dreamshare__header__logo {
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #ffff;
  line-height: 24px;
}
.dreamshare__header__nav {
  width: 152px;
  display: inline-flex;
  justify-content: space-between;
}
.dreamshare__header__nav__log {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 300;
  color: #ffff;
  text-decoration: none;
  padding-top: 12px;
}
.dreamshare__header__nav__button {
  width: 90px;
  height: 36px;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #ffff;
  background-color: rgba(255, 255, 255, 0.041);
  border: 2px solid #ffff;
  border-radius: 15px;
}
.dreamshare__bigtop {
  width: 468px;
  height: 63px;
  font-size: 52px;
  font-family: "Montserrat";
  font-weight: 700;
  margin: 115px auto 0px;
  color: #ffff;
  text-align: center;
}
.dreamshare__bigbottom {
  width: 464px;
  height: 60px;
  font-size: 52px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #ffff;
  margin: 0 auto;
}
.dreamshare__text {
  width: 394px;
  height: 22px;
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 300;
  color: #ffff;
  letter-spacing: 0.1px;
  margin: 22px auto 0;
}
.dreamshare__link {
  width: 226px;
  height: 38px;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 300;
  text-align: center;
  line-height: 38px;
  color: #ffff;
  margin: 38px auto;
  background-color: #FF4E50;
  border-radius: 15px;
  border: none;
}

.news__tittle,
.person__tittle,
.idea__tittle {
  font-size: 26px;
  font-family: "Montserrat";
  font-weight: 700;
  margin: 91px auto 39px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #444444;
}

.conainer {
  width: 940px;
  margin: 0 auto;
}

.news {
  display: flex;
  justify-content: space-between;
}
.news__first {
  width: 300px;
  height: 400px;
  background-image: url(./image/Step1.png);
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 27px;
}
.news__first__button {
  width: 67px;
  height: 20px;
  font-size: 10px;
  font-family: "Montserrat";
  font-weight: 300;
  text-align: center;
  line-height: 20px;
  letter-spacing: 1px;
  color: #ffff;
  background-color: #FF4E50;
  border-radius: 15px;
  border: none;
}
.news__first__tittle {
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: 700;
  width: 200px;
  height: 75px;
  color: #ffff;
  margin-top: 22px;
}
.news__first__text {
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 300;
  width: 243px;
  height: 63px;
  color: #ffff;
}
.news__second {
  width: 300px;
  height: 400px;
  background-image: url(./image/Step2.png);
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 27px;
}
.news__second__tittle {
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: 500;
  width: 200px;
  height: 43px;
  color: #ffff;
  margin-top: 25px;
}
.news__third {
  width: 300px;
  height: 400px;
  background-image: url(./image/Step3.png);
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 27px;
}

.person {
  display: flex;
  justify-content: space-between;
}
.person__block {
  width: 221px;
  height: 224px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.person__block__avatar {
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
}
.person__block__avatar__font {
  width: 35px;
  height: 35px;
  border-radius: 25px;
  background-repeat: no-repeat;
  background-position: center;
}
.person__block__name {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  margin-top: 21px;
  color: #444444;
}
.person__block__description {
  color: #666666;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 300;
  margin-top: 27px;
  text-align: center;
}
.person .first {
  background-image: url(./image/Photo1.png);
}
.person .second {
  background-image: url(./image/Photo2.png);
}
.person .third {
  background-image: url(./image/Photo3.png);
}
.person .fourth {
  background-image: url(./image/Photo4.png);
}
.person .music {
  background-image: url(./image/music2.png);
  background-color: #FF4E50;
}
.person .brash {
  background-image: url(./image/brush.png);
  background-color: #19d4ca;
}
.person .camera {
  background-image: url(./image/camera.png);
  background-color: #ffa710;
}
.person .airplane {
  background-image: url(./image/airplane.png);
  background-color: #667df3;
}
.person__button {
  width: 179px;
  height: 40px;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  display: block;
  background-color: rgba(255, 255, 255, 0.041);
  border: 2px solid #FF4E50;
  color: #FF4E50;
  border-radius: 20px;
  margin: 36px auto;
}

.idea {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 310px 310px 310px;
  font-size: 22px;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  line-height: 310px;
  gap: 20px 20px;
  color: #ffff;
  background-position: center;
  background-repeat: no-repeat;
}
.idea__sports {
  grid-column: 1/2;
  grid-row: 1/2;
  background-image: url(./image/Sport.png);
}
.idea__health {
  grid-column: 2/3;
  grid-row: 1/2;
  background-image: url(./image/healath.png);
}
.idea__extreme {
  grid-column: 3/4;
  grid-row: 1/2;
  background-image: url(./image/Extreme.png);
  line-height: 27px;
  padding: 129px 50px;
}
.idea__games {
  grid-column: 1/2;
  grid-row: 2/3;
  background-image: url(./image/Games.png);
  padding: 20px;
}
.idea__culture {
  grid-column: 2/4;
  grid-row: 2/3;
  background-image: url(./image/Culture.png);
}
.idea__relaxation {
  grid-column: 1/3;
  grid-row: 3/4;
  background-image: url(./image/relaxtion.png);
}
.idea__trevelling {
  grid-column: 3/4;
  grid-row: 3/4;
  background-image: url(./image/travel.png);
}

.active {
  width: 495px;
  height: 97px;
  margin: 93px auto;
  letter-spacing: 0.5px;
}
.active__tittle {
  font-size: 26px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #444444;
  text-align: center;
}
.active__question {
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 300;
  color: #666666;
  text-align: center;
  margin-top: 52px;
}
.active__input {
  width: 279px;
  height: 40px;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 300;
  color: #999999;
  border: 1px solid #d4d4d4;
  margin-top: 22px;
  padding-left: 15px;
}
.active__button {
  width: 174px;
  height: 40px;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  background-color: #FF4E50;
  color: #ffff;
  border: none;
  border-radius: 25px;
  margin: 22px 0 0 3px;
}

.about {
  max-width: 1440px;
  border-top: 3px solid #FF4E50;
  margin-top: 164px;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}
.about__name {
  width: 237px;
  height: 220px;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 400;
  color: #FF4E50;
}
.about__company {
  width: 237px;
  height: 180px;
  padding-left: 7px;
}
.about__company__tittle {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #444444;
  padding-bottom: 15px;
}
.about__company__nav a {
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 300;
  color: #666666;
  text-decoration: none;
  line-height: 25px;
}
.about__Partners {
  width: 360px;
  height: 40px;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #444444;
  padding-left: 10px;
}
.about__logo {
  width: 114px;
  height: 42px;
}
.about__logo__header {
  font-size: 10px;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: end;
  letter-spacing: 1px;
  color: #cccccc;
}
.about__logo__img {
  width: 114px;
  height: 29px;
  background-image: url(./image/Bitmap.png);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1450px) and (min-width: 780px) {
  section {
    max-width: 768px;
  }

  .dreamshare {
    background-position: center;
  }
  .dreamshare__header {
    width: 670px;
    height: 116px;
    padding-right: 0px;
  }

  .news__tittle,
.person__tittle {
    font-size: 22px;
    font-family: "Montserrat";
    font-weight: 700;
    margin: 97px auto 38px;
  }

  .conainer {
    width: 748px;
  }

  .news__first {
    width: 236px;
    height: 400px;
    padding-left: 21px;
  }
  .news__first__tittle {
    width: 200px;
    height: 60px;
    line-height: 15px;
    margin-top: 43px;
  }
  .news__first__text {
    width: 216px;
    height: 72px;
    letter-spacing: 1px;
    color: #ffff;
  }
  .news__second {
    width: 236px;
    height: 400px;
    padding-left: 21px;
  }
  .news__second__tittle {
    width: 185px;
    height: 54px;
    line-height: 15px;
    margin-top: 13px;
  }
  .news__second__text {
    width: 196px;
    height: 58px;
  }
  .news__third {
    width: 236px;
    height: 400px;
    padding-left: 21px;
  }

  .person {
    width: 492px;
    height: 516px;
    flex-wrap: wrap;
  }
  .person__button {
    margin: -13px auto;
  }

  .revers_1 {
    width: 236px;
    height: 224px;
    order: 1;
  }

  .revers_2 {
    width: 236px;
    height: 224px;
    order: 2;
  }

  .revers_3 {
    width: 236px;
    height: 224px;
    order: 3;
  }

  .revers_4 {
    width: 236px;
    height: 224px;
    order: 4;
  }

  .idea__tittle {
    font-size: 22px;
    font-family: "Montserrat";
    font-weight: 700;
    margin: 108px auto 39px;
  }

  .idea__sports {
    background-position: -41px 0;
    padding: 113px 40px;
    line-height: 27px;
  }
  .idea__health {
    background-position: -41px 0;
    padding: 125px 40px;
    line-height: 27px;
  }
  .idea__extreme {
    background-position: -21px 0;
    padding: 127px 20px;
  }
  .idea__games {
    background-position: center;
  }
  .idea__culture {
    background-position: -71px 0;
  }
  .idea__relaxation {
    background-position: 0;
  }
  .idea__trevelling {
    background-image: url(./image/treveling.png);
  }

  .active {
    height: 93px;
    margin: 95px auto;
  }
  .active__tittle {
    font-size: 22px;
    font-family: "Montserrat";
    font-weight: 700;
  }
  .active__question {
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 300;
    margin-top: 54px;
    letter-spacing: 0;
  }
  .active__input {
    height: 36px;
    margin-bottom: 3px;
    padding-left: 16px;
  }

  .about {
    max-width: 768px;
  }
  .about__name {
    width: 223px;
    height: 220px;
  }
  .about__company {
    width: 173px;
    height: 180px;
  }
  .about__Partners {
    width: 182px;
    height: 40px;
    padding-left: 3px;
  }
  .about__logo {
    width: 114px;
    height: 42px;
  }
  .about__logo__header {
    margin-bottom: 4px;
  }
}
@media screen and (max-width: 780px) {
  section {
    max-width: 320px;
  }

  .dreamshare {
    background-image: url(./image/mobile/Headaer.png);
    height: 540px;
    background-repeat: no-repeat;
    position: relative;
    margin-left: 3px;
  }
  .dreamshare__header {
    width: 180px;
    height: 36px;
    margin-top: 21px;
    padding: 0 0 0 9px;
  }
  .dreamshare__header__logo {
    position: absolute;
    top: 154px;
    left: 92px;
  }
  .dreamshare__bigtop {
    width: 320px;
    height: 38px;
    font-size: 30px;
    font-family: "Montserrat";
    font-weight: 700;
    margin: 150px auto 0px;
    padding-left: 10px;
  }
  .dreamshare__bigbottom {
    width: 320px;
    height: 36px;
    font-size: 30px;
    font-family: "Montserrat";
    font-weight: 700;
    padding-left: 32px;
  }
  .dreamshare__text {
    width: 250px;
    height: 22px;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 300;
    letter-spacing: 0px;
    text-align: center;
    line-height: 27px;
    margin: 0 auto;
    padding-left: 10px;
  }
  .dreamshare__link {
    width: 280px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin: 44px 0 0 25px;
  }

  .news__tittle {
    font-size: 22px;
    font-family: "Montserrat";
    font-weight: 700;
    margin: 37px 0 17px -7px;
    letter-spacing: 0.5px;
  }

  .conainer {
    width: 300px;
    margin: 0 auto;
  }

  .news {
    height: 740px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-right: 11px;
  }
  .news__first {
    width: 300px;
    height: 240px;
    background-image: url(./image/mobile/Step1.png);
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-left: 21px;
  }
  .news__first__tittle {
    width: 260px;
    height: 55px;
    margin-top: 43px;
    line-height: 16px;
  }
  .news__first__text {
    width: 260px;
    height: 58px;
    letter-spacing: 0.5px;
  }
  .news__second {
    width: 300px;
    height: 240px;
    background-image: url(./image/mobile/Step2.png);
    padding-left: 21px;
  }
  .news__second__tittle {
    width: 200px;
    height: 39px;
  }
  .news__third {
    width: 300px;
    height: 240px;
    background-image: url(./image/mobile/Step3.png);
    padding-left: 21px;
  }

  .person__tittle {
    font-size: 22px;
    font-family: "Montserrat";
    font-weight: 700;
    margin: 40px 6px 20px 0px;
  }

  .person {
    justify-content: start;
    flex-direction: column;
    align-items: center;
    margin-left: 6px;
  }
  .person__button {
    width: 282px;
    height: 40px;
    margin: 19px 0 0 14px;
  }

  .revers_1 {
    width: 236px;
    height: 224px;
    order: 1;
    margin-bottom: -4px;
  }

  .revers_2 {
    width: 236px;
    height: 224px;
    order: 2;
    margin-bottom: 17px;
  }

  .revers_3 {
    width: 236px;
    height: 224px;
    order: 3;
    margin-bottom: -4px;
  }

  .revers_4 {
    width: 236px;
    height: 224px;
    order: 4;
  }

  .idea__tittle {
    font-size: 22px;
    font-family: "Montserrat";
    font-weight: 700;
    margin: 36px 26px 33px 18px;
    line-height: 26px;
  }

  .idea {
    grid-template-columns: 300px;
    grid-template-rows: 120px 120px 120px 120px 120px 120px 120px;
    line-height: 27px;
    gap: 10px 10px;
    margin-left: 5px;
  }
  .idea__sports {
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url(./image/mobile/Sport.png);
    padding: 20px 50px;
  }
  .idea__health {
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url(./image/mobile/Healath.png);
    padding: 33px 50px;
  }
  .idea__extreme {
    grid-column: 1/2;
    grid-row: 3/4;
    background-image: url(./image/mobile/Extreme.png);
    padding: 33px 50px;
  }
  .idea__games {
    grid-column: 1/2;
    grid-row: 4/5;
    background-image: url(./image/mobile/Games.png);
    padding: 48px 50px;
  }
  .idea__culture {
    grid-column: 1/2;
    grid-row: 5/6;
    background-image: url(./image/mobile/Culture.png);
    line-height: 120px;
  }
  .idea__relaxation {
    grid-column: 1/2;
    grid-row: 6/7;
    background-image: url(./image/mobile/relaxtion.png);
    line-height: 120px;
  }
  .idea__trevelling {
    grid-column: 1/2;
    grid-row: 7/8;
    background-image: url(./image/mobile/travel.png);
    line-height: 120px;
  }

  .active {
    width: 320px;
    height: 200px;
    margin: 0px auto;
  }
  .active__tittle {
    font-size: 22px;
    font-family: "Montserrat";
    font-weight: 700;
    margin: 39px 32px 0px 20px;
  }
  .active__question {
    margin-top: 23px;
  }
  .active__input {
    width: 260px;
    height: 33px;
    margin: 15px 15px 0 15px;
    padding-left: 15px;
  }
  .active__button {
    width: 282px;
    height: 40px;
    margin: 11px 0 0 14px;
  }

  .about {
    max-width: 320px;
    margin-top: 27px;
    padding-top: 0px;
    flex-direction: column;
  }
  .about__name {
    width: 314px;
    height: 18px;
    text-align: center;
    margin-top: 21px;
  }
  .about__company {
    width: 305px;
    height: 75px;
    margin-top: 15px;
    padding-left: 7px;
  }
  .about__company__tittle {
    text-align: center;
    padding-bottom: 3px;
  }
  .about__company__nav {
    width: 210px;
    height: 50px;
    margin: 0px 48px;
    text-align: center;
  }
  .about__company li {
    display: inline-block;
    margin-right: 11px;
  }
  .about__Partners {
    width: 92px;
    height: 28px;
    margin: 0 auto;
  }
  .about__logo {
    width: 123px;
    height: 42px;
    margin: 3px auto;
  }
  .about__logo__header {
    margin-bottom: 6px;
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */