@font-face {
    font-family:'Montserrat';
    src: url(base/fonts/Montserrat/Montserrat-Medium.ttf);
    font-weight: normal;
}
@font-face {
    font-family:'Roboto';
    src: url(base/fonts/Roboto/Kanit-Thin.ttf);
    
}